body {
    background: #F7F5F9 !important;
    font-family: 'Manrope', sans-serif;
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

.flag-select__option__label {
    color: black;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-track {
   background: #ECE9F1;
   border: 8px solid transparent;
   background-clip: content-box;
   border-radius: 10px;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-thumb {
    background-color: #4776E6;
    border-radius: 10px;
    border: 8px solid transparent;
    background-clip: content-box;
}

